<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title >SMART SEARCH | Mis Cursos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css
    "
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container">
          <a href="/">
            <img
              src="{% static 'images/Logo.jpeg' %}"
              width="50"
              height="50"
              class="navbar-brand"
              alt="Logo"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a href="/" class="nav-link"></a>
              </li>
  
              {% if user.is_authenticated %}
                <a href="/" class="nav-link">Perfil</a>
              </li>
              <li class="nav-item">
                <a href="/curso/create/" class="nav-link">Mis cursos</a>
              </li>
              <li class="nav-item">
                <a href="/logout" class="nav-link">Cerrar sesion</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a href="/auth/signup" class="nav-link">Regístrese</a>
              </li>
              <li class="nav-item">
                <a href="/auth/signin" class="nav-link">Iniciar sesion</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
  <div class="container">
    <h1 style="color: white;">¡Bienvenido! {{ persona.nombre }} {{ persona.apellido }}</h1>
    <h3 style="color: white;" >Tu listado de cursos</h3>

    <table class="table  table-hover table-striped table-dark">
      <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre de Curso</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Duración</th>
            <th scope="col">Opción</th>
          </tr>
        {% if listado_cursos %} 
        {% for curso in listado_cursos %} 
        <tbody>
            <tr>
                <th scope="row">{{ curso.Curso_idCurso.idCurso   }}</th>
                <th scope="row">{{ curso.Curso_idCurso }}</th>
                <th scope="row">{{ curso.Curso_idCurso.descripcion  }}</th>
                <th scope="row">{{ curso.Curso_idCurso.duracion }}</th>
                <th scope="row">
                    <a href="#">Ver detalles</a>
                </th>

            </tr>
        </tbody>
        {% endfor %}
        {% else %}
        <tbody>
            <tr>
                <th scope="row">No tienes ningún curso...</th>
                <th scope="row"></th>
                <th scope="row"></th>
                <th scope="row"></th>
                <th scope="row">
                </th>
            </tr>
        </tbody>
        {% endif %}
      </thead>
    </table>
  </div>
  </body>
</html>
